<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>激活会员</string>
		<key>icon</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ钱包</string>
		<key>icon</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>个性装扮</string>
		<key>icon</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的收藏</string>
		<key>icon</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的相册</string>
		<key>icon</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的文件</string>
		<key>icon</key>
		<string>1</string>
	</dict>
</array>
</plist>
