<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>饭</key>
	<string>我还没吃,你要请客!</string>
	<key>妹</key>
	<string>你妹啊</string>
	<key>爱</key>
	<string>爱个毛</string>
</dict>
</plist>
