<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>你叫？</string>
		<key>time</key>
		<string>前天20:00</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>叫什么叫？你又没非礼我</string>
		<key>time</key>
		<string>前天20:00</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>神经病一个</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哪有神经病啊？有吗？快打520哪有神经病啊？有吗？快打520哪有神经病啊？有吗？快打520哪有神经病啊？有吗？快打520哪有神经病啊？有吗？快打520哪有神经病啊？有吗？快打520</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>520，不是吧，是120才对啊</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>谢谢你的表白，我会考虑的！</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我忍，话说回来，你到底是谁啊？</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>本人是中国人，姓名不方便透露.</string>
		<key>time</key>
		<string>前天20:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>忍无可忍，不说拉倒！</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那你先说</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>弊姓靓，名美眉.英文名：MM</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不错，我姓南、名友，</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>南友〔男友〕是吗？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是的…呵呵…</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>奇怪了这名？那你多大了？</string>
		<key>time</key>
		<string>前天20:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我身材槐梧，</string>
		<key>time</key>
		<string>前天20:04</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>拜托，我是问你年龄~</string>
		<key>time</key>
		<string>前天20:06</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你猜？</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我又不是算命的</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我几十年前一岁，你猜我现在几岁？</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>操…</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>都晚上了还做什么操啊？</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>切…</string>
		<key>time</key>
		<string>昨天18:30</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>萝卜是要切，可人不用切了，切了就…</string>
		<key>time</key>
		<string>昨天18:31</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不是吧？看来你病得不轻了！</string>
		<key>time</key>
		<string>昨天18:32</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你病啦，快去吃药、</string>
		<key>time</key>
		<string>昨天18:33</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>…</string>
		<key>time</key>
		<string>昨天18:35</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>在不？</string>
		<key>time</key>
		<string>昨天20:06</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不在</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>不在你还回</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我回了就证明我在</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是吗？那你几岁了啊？</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>100</string>
		<key>time</key>
		<string>昨天20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>啊？</string>
		<key>time</key>
		<string>昨天20:08</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>减去一半</string>
		<key>time</key>
		<string>昨天20:08</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>老太婆</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我还没打完字呢？</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那快打</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>减去一半的两半</string>
		<key>time</key>
		<string>昨天20:09</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>？？？我数学不好</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>再加上10</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>？？？</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>然后减去2</string>
		<key>time</key>
		<string>昨天20:10</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我靠</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>再减4加2 就OK了</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你OK，我却晕死了</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>死一两个也不会世界末日！</string>
		<key>time</key>
		<string>昨天20:11</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哦，你18岁啊？</string>
		<key>time</key>
		<string>昨天20:12</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是又怎样？</string>
		<key>time</key>
		<string>昨天20:13</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>好年轻</string>
		<key>time</key>
		<string>昨天20:13</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>年轻又不可以当饭吃，</string>
		<key>time</key>
		<string>昨天20:13</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>漂亮呗！</string>
		<key>time</key>
		<string>昨天20:13</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>小时候很丑，现在…</string>
		<key>time</key>
		<string>00:00</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>女大十八变嘛！</string>
		<key>time</key>
		<string>00:00</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>又不是妖怪，变啥变</string>
		<key>time</key>
		<string>00:00</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>…</string>
		<key>time</key>
		<string>00:01</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你再不说你是谁？我下了，</string>
		<key>time</key>
		<string>00:02</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>人</string>
		<key>time</key>
		<string>00:02</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>什么人？</string>
		<key>time</key>
		<string>00:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>和你是恋人</string>
		<key>time</key>
		<string>00:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>无药可救了你</string>
		<key>time</key>
		<string>00:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>别开这种不吉利的玩笑</string>
		<key>time</key>
		<string>00:03</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是问你名字啊，大叔</string>
		<key>time</key>
		<string>00:03</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我今年才20岁，不是什么大叔</string>
		<key>time</key>
		<string>00:04</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>原来你20岁啦！</string>
		<key>time</key>
		<string>00:04</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>有那么怪吗？</string>
		<key>time</key>
		<string>00:04</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>没有 你名？快说</string>
		<key>time</key>
		<string>00:04</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你可以叫我劳工〔老公〕</string>
		<key>time</key>
		<string>00:04</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>劳工〔老公〕是吗？</string>
		<key>time</key>
		<string>20:17</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是的</string>
		<key>time</key>
		<string>20:17</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那你真名呢？</string>
		<key>time</key>
		<string>20:17</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>我姓青 叫艾的</string>
		<key>time</key>
		<string>20:17</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>青艾的〔亲爱的〕是吗？</string>
		<key>time</key>
		<string>20:18</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>是啊，亲爱的</string>
		<key>time</key>
		<string>20:18</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>谁是你亲爱的？</string>
		<key>time</key>
		<string>20:18</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>你就是</string>
		<key>time</key>
		<string>20:18</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哦，你整我</string>
		<key>time</key>
		<string>20:19</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>可惜我整不到你</string>
		<key>time</key>
		<string>20:19</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>嘿嘿</string>
		<key>time</key>
		<string>20:19</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>额</string>
		<key>time</key>
		<string>20:19</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>还在不？劳工〔老公〕</string>
		<key>time</key>
		<string>20:20</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>…</string>
		<key>time</key>
		<string>20:20</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>南友，你怎么了？</string>
		<key>time</key>
		<string>20:20</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>…</string>
		<key>time</key>
		<string>20:20</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>青艾的〔亲爱的〕</string>
		<key>time</key>
		<string>20:21</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>好像有人在偷看我们的聊天记录！女友</string>
		<key>time</key>
		<string>20:21</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>哦，是吗？那我下了88</string>
		<key>time</key>
		<string>20:21</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>嗯，拜拜…下次聊、老婆！</string>
		<key>time</key>
		<string>20:21</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
